#contato-section{
    height: calc(100vh - 157px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-contato{
    display: flex;
    flex-direction: column;
    width: 47%;
}

#inputs-cima{
    display: flex;
    justify-content: space-between;
}

.estilo-input{
    padding: 10px;
    border-radius: 5px;
    border-color: #bc3fdb;
    background-color: #f3f5f7;
    border-width: 2px;
    font-size: 1.1em;
    font-family: 'Lexend Deca', sans-serif;

}

.estilo-input::placeholder{
    color: #d79ae9;
}

.estilo-input:focus{
    outline: none;
    border-color: #86249e;
}

#textarea-contato{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-top: 2.5%;
}

#mensagem{
    resize: none;
    height: 100px;
}

#form-contato{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#botao-contato{

    width: 30%;
    margin-top: 8%;
    padding: 15px;

    font-size: 1.1em;
    color: #f3f5f7;
    opacity: 0.7;

    border-radius: 5px;
    border: none;
    background: linear-gradient(90deg, #DB49C4 0%, #BC3EDB 100%);
}

#botao-contato:hover{
    cursor: pointer;
    opacity: 1;
}

label{
    margin-bottom: 2px;
    color: #d79ae9;
}